[General]
output_folder = 
organized_output_folder = 

[Mac]
mac_db_path = 
launchers_for_unknown_apps = 

[DOS]
dos_db_path = 
launchers_for_unknown_apps = 

[Arcade]
catlist_path = 
languages_path = 
#Separated by ;
skipped_source_files = 
